---
export const prerender = true;

import Layout from '../components/Layout.astro';
import { PageHero } from '../components/PageHero';
import { RecruiterSkim } from '../components/RecruiterSkim';
import { WhatIBring } from '../components/WhatIBring';
import { ProjectsSectionHome } from '../components/ProjectsSectionHome';
import { Proof } from '../components/Proof';
import { HiringClose } from '../components/HiringClose';
import { pageSeo } from '../data/seo';
import { pageImages } from '../data/pageImages';
import { personJsonLd, websiteJsonLd } from '../lib/schema';

const seo = pageSeo.home;
---

<Layout
	title={seo.title}
	description={seo.description}
	canonicalPath={seo.path}
	ogImage={pageImages.home.og}
	ogType={seo.ogType}
>
	<script type="application/ld+json" set:html={JSON.stringify(personJsonLd())} />
	<script type="application/ld+json" set:html={JSON.stringify(websiteJsonLd())} />

	<div class="pb-8">
		<div transition:name="page-hero">
			<PageHero page="home" client:load />
		</div>

		<div transition:name="page-body">
			<RecruiterSkim client:idle />
			<WhatIBring client:idle />
			<ProjectsSectionHome client:idle />
			<Proof client:idle />
			<HiringClose client:idle />
		</div>
	</div>
</Layout>
